$background-color: #ffffff;
$text-color: #000000;
$btn-width: 120px;
$btn-height: 40px;
$block-padding: 60px;

$primary-btn-color: #F2994A;
$primary-btn-color-hover: #c05700;
$primary-btn-color-active: #f1811c;

$form-sub-tile-color: #4F4F4F;


* {
  overflow: hidden;
  width: 100%;
}

html, body, div {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
}

// BUTTONS
.btn-primary {
  background: $primary-btn-color;
  border: 0;
}

.btn-primary:hover {
  background: $primary-btn-color-hover;
}


.btn-primary:not(:disabled):not(:disabled):active {
  background: $primary-btn-color-hover;
}

// FORM
.container {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  position: fixed;

  max-width: none;
  gap: 0;
  right: 0;
  left: 0;
  top: 0;
  padding: 0;

  .form-container {
    height: 100vh;
    width: 50vw;

    display: inline-grid;
    grid-template-rows: 80px auto 80px;
    grid-auto-columns: 26vw;
    justify-content: center;

    form {
      top: 10vh;
    }

    .form-subtitle {
      color: $form-sub-tile-color;
      font-size: 2.5vh;
    }
    .row {
      font-size: 90%;
    }
  }

  .image-form {
    height: 100vh;
    background: aliceblue;
  }

}
