.sidebarContainer {
  z-index: 2;
  position: fixed;

  height: 100%;
  width: auto;

  float: left;
  overflow: hidden;

  display: grid;
  grid-template-rows: 70px 70px 70px 70px 70px 16px 70px calc(100% - 520px) 70px;

  margin: 0;
  padding: 30px 0 0 0;
  background: #219653FF;

  border: 1px solid #219653FF;

  .sidebarItem {
    display: grid;
    grid-template-columns: 100px auto;
    place-items: center;

    padding: 20px 0;

    text-decoration: none;
    color: white;
    font-size: 20px;

    width: 100%;

    cursor: pointer;

    transition: all .2s ease;
  }

  .selectedItem {
    background: white;
    color: #219653;

    .icon {
      color: #219653;
    }
  }

  .notSelectedItem {
    background: none;
    color: white;

    .icon {
      color: white;
    }
  }

  p {
    margin: 0 20px 0 0;
    padding: 0;
  }

  hr {
    color: white;
  }

  .logOutBtn {
    color: white;
    font-size: 20px;

    justify-content: flex-start;
    padding: 34px 0;

    border: none;
    border-radius: 0;
  }

  .logOutBtn:hover {
    background: white;
    color: #219653;

    .sidebarIcon {
      color: #219653;
    }
  }
}

.sidebarIcon {
  width: auto;
  margin: 0 30px;

  color: white;
}

.sidebarItem:hover {
  background: white;

  .sidebarIcon, p {
    color: #219653FF;
  }
}

.logoContainer {
  min-width: 10px;
  min-height: 75px;

  img {
    width: 200px;
    margin: 10px 20px 40px 20px;
  }

}